<!DOCTYPE html>

<title>Hello MainController!</title>

{% block body %}

<!-- <form ...> -->
{{ form_start(formSerie)}}

{{ form_widget(formSerie) }}
<br>
<button type="submit"> Ajouter</button>
<!-- </form> -->
{{ form_end(formSerie)}}

{% endblock %}
